// Import Bulma's core
@import "~bulma/sass/utilities/_all";

// Set your colors
$primary: #cc0000;
$primary-invert: findColorInvert($primary);
$ncsu: #cc0000;
$ncsu-invert: findColorInvert($primary);

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$custom-colors: (
    "ncsu": (
        $ncsu,
        $ncsu-invert
    )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// Set the padding on the container
$gap: 128px;

// Import Bulma and Buefy styles
@import "~bulma";
@import "~buefy/src/scss/buefy";
